nav ul{
  display:flex;
  flex-wrap: wrap;
}

nav ul li.logo h2{
  display: block;
  width:100%;
  order:1;
}

nav ul li{
  list-style: none;
  flex: 1 0 150px;
  order:2;
  justify-content: space-around;
  text-align: center;
}

#photos{
  display: flex;
  flex-wrap: wrap;
}

div{
  justify-content: space-around;
  flex: 1 0 200px;
}

@media (min-width:800px) {
  
}
