nav ul{
  display:flex;
  flex-wrap: wrap;
}

nav ul li.logo{
  flex: 1 0 100vw;
  width:100%;
  order:1;
}

nav ul li{
  list-style: none;
  flex: 1 0 150px;
  order:2;
  justify-content: space-around;
  text-align: center;
}

#photos{
  display: flex;
  flex-wrap: wrap;
}

div{
  justify-content: space-around;
  flex: 1 0 200px;
  text-align: center;
  padding:10px;
}

@media (min-width:800px) {
  nav ul li.logo{
    flex: 1 0 200px;
  }

  nav ul li.ui, nav ul li.typography{
    order:1;
  }

  nav ul li.logo{
    order:2;
  }

  nav ul li.branding, nav ul li.graffiti{
    order:3;
  }
}
