html{
  background-image: url("../img/bg.jpg");
}

body{
  background-color:rgba(255, 255, 255, 0.7);
  height:100vh;
  font-family: sans-serif;
}

main{
  display: grid;
  grid-template-columns: repeat(3, 300px) 400px;
  grid-template-rows: 100px 150px 100px 75px;
}

div{
  text-align: center;
  display:flex;
  align-items:center;
  justify-content: center;
}

.live{
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.weareimd{
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  font-size: 64px;
  font-weight: bold;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.qr{
  grid-column: 4 / span 1;
  grid-row: 1 / span 4;
}

.qr img{
  width:80%;
}

.date, .admit,  .ticket{
  border-left: black solid 1px;
  font-size: 30px;
  font-weight: bold;
}


.frustrated{
  grid-column: 1 / span 3;
  border-top: black solid 1px;
  border-left: black solid 1px;
  border-bottom: black solid 1px;
}

.qr{
  border: black solid 1px;
}

@media (max-width: 1300px) {
  main{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 50px 500px 50px 50px;
  }

  .frustrated{
    display: none;
  }

  .weareimd{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background:black;
    color:white;
    border:none;
  }

  .qr{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

  .qr img{
    height: 75%;
    width: auto;
  }

  .live{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    color:white;
    background: black;
    border:none;
  }

  .admit{
    border-right: black solid 1px;
  }

  .ticket{
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    border: 1px solid black;
  }
}
